trakt:
  account: traktaccount
  series: series-list
  anime: anime-list
  movies: watchlist
  archive: archive-list
  delete: delete-list
sonarr:
  api: sonarr-api
folder:
  anime: folderForSonarr
  series: folderForSonarr
